{% extends "layout.html" %}
{% load bootstrap4 %}
{% load static i18n %}

{% block ptitle_post %} | {% trans 'Change subjects' %}{% endblock ptitle_post %}

{% block content %}
<section class="page login_section">

    <div class="page_content login_form">
        <h2>{% trans 'Change Subjects' %}</h2>

        <form method="post">
            {% csrf_token %}
    
            <div class="form-content">
                <div class="field">
                    <label>{% trans 'Select your subjects' %}</label>
                    {% bootstrap_field form.lessons show_label=False %}
                </div>
            </div>
    
            <a href="{% url 'teacher_home' %}" type="type" class="btn">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        </form>
    </div>

</section>
{% endblock content %}