{% extends "layout.html" %}
{% load bootstrap4 %}
{% load static i18n %}

{% block ptitle_post %} | {% trans 'Subject detail' %}{% endblock ptitle_post %}

{% block content %}
<section class="page teacher_home_section">
    <div class="page_content"> 
        <div class="welcome">
            {{ lesson }}
        </div>

        <div class="list_box">
            <div class="header">
                <span>{% trans 'Students attending to this subject' %}</span>
            </div>
            <div class="content">
                {% for student in students %}
                    <div class="item">
                        {{ student }}
                    </div>
                    {% empty %}
                    <div class="empty">
                        {% trans 'This subject does not have students yet' %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="center margin_top">
            <a href="{% url 'redirect_to' %}">{% trans 'Back' %}</a>
        </div>
    </div>
</section>

{% endblock content %}