@import url('https://fonts.googleapis.com/css?family=Lato');

:root {
    --primary:   #3631a5;
    --secondary: #6c757d;
    --success:   #1dc9b7;
    --info:      #5578eb;
    --warning:   #ffb822;
    --danger:    #dc3545;
    --light:     #f9f9fc;
    --gray:      #d8d8d8;
    --black:     #2d2d2d;

    --header:      80px;
    --footer:      60px;
    --content:     calc(100vh - 80px - 60px);
}

body {
    background: var(--light);
    color: var(--black);
}

header {
    display: grid;
    grid-template-columns: max-content auto max-content;
    height: var(--header);
    padding: 0 3rem;
    background: var(--black);
    color: var(--light);
}

header .brand {
    font-size: 36px;
    font-weight: bold;
    align-self: center;
    text-transform: uppercase;
}

header .buttons {
    align-self: center;
}

header .buttons a {
    color: #fff;
    cursor: pointer;
}

footer {
    display: block;
    height: var(--footer);
}

footer p {
    text-align: center;
}

h1, h2 {
    font-family: 'Lato', sans-serif;
}

.truncate {
    width: 96%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.left {
    text-align: left;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.margin_top {
    margin-top: 1rem;
}

select.form-control[multiple] {
    height: 200px;
}

/* PAGES */
.page {
    min-height: var(--content);
    display: grid;
    grid-template-columns: auto;
    width: 400px;
    margin: auto;
}

.page_content {
    align-self: center;
}

/* LOGIN */
.login_section {
}

.login_section .login_form h1 {
    margin-bottom: 2rem;
    text-align: center;
}

/* TEACHER HOME */
.home_section {
    padding: 3rem;
    width: 600px;
}

.home_section .welcome {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.list_box {
    display: grid;
    grid-template-rows: min-content auto;
    background: var(--light);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.list_box .header {
    background: var(--secondary);
    color: var(--light);
    padding: .7rem 1rem;
    display: grid;
    grid-template-columns: auto min-content;
}

.list_box .header span {
    font-weight: bold;
    align-self: center;
}

.list_box .header a {
    background: var(--light);
    color: var(--black);
    padding: .2rem 1rem;
    font-size: .8rem;
    font-weight: bold;
    border-radius: 4px;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.list_box .header a:hover {
    background: var(--gray);
}

.list_box .content .item {
    background: #fff;
    padding: .5rem 1rem;
    margin-top: 3px;
}

.list_box .content .empty {
    text-align: center;
    padding: 1rem;
}