{% load static i18n %}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">

        <title>{% block ptitle %}Schooldb{% endblock ptitle %}{% block ptitle_post %}{% endblock ptitle_post %}</title>

        <link href="{% static 'css/Bootstrap-4.1.3/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
    </head>
    <body>
        {% block body %}
            {% block header %}{% endblock header %}

            {% block main %}{% endblock main %}

            {% block footer %}{% endblock footer %}
        {% endblock body %}

        <script type="text/javascript" src="{% static 'js/Bootstrap-4.1.3/bootstrap.js' %}"></script>
    </body>
</html>
