{% extends "base.html" %}
{% load static i18n %}

{% block header %}
    <header>
        <div class="brand">Schooldb</div>
        <div class="spacer"></div>
        <div class="buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    {% trans 'Log out' %}
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    {% trans 'Log in' %}
                </a>
            {% endif %}
        </div>
    </header>
{% endblock header %}

{% block main %}
    <div class="content">
        {% block content %}{% endblock content %}
    </div>
{% endblock main %}

{% block footer %}
    <footer>
        <p>Made with love by <a href="https://tavoohoh.com">tavoohoh</a></p>
    </footer>
{% endblock footer %}