{% extends "layout.html" %}
{% load bootstrap4 %}
{% load static i18n %}

{% block ptitle_post %} | {% trans 'Log in' %}{% endblock ptitle_post %}

{% block content %}
<section class="page login_section">

    <div class="page_content login_form">
        <h1>{% trans 'Log in' %}</h1>

        <form method="post">
            {% csrf_token %}
    
            <div class="form-content">
                <div class="field">
                    <label>{% trans 'Email Address' %}</label>
                    {% bootstrap_field form.username show_label=False %}
                </div>
        
                <div class="field" id="signinPassword">
                    <label>{% trans 'Password' %}</label>
                    {% bootstrap_field form.password show_label=False %}
                    <span onclick="togglePassword('#signinPassword #id_password')" class="oi toggle-password" data-glyph="eye"></span>
                </div>
            </div>
    
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        </form>
    </div>

</section>
{% endblock content %}