{% extends "layout.html" %}
{% load bootstrap4 %}
{% load static i18n %}

{% block ptitle_post %} | {% trans 'Change subjects' %}{% endblock ptitle_post %}

{% block content %}
<section class="page login_section">

    <div class="page_content login_form">
        <h2>{% trans 'Change Subjects' %}</h2>

        <form method="post">
            {% csrf_token %}
    
            <div class="form-content">
                <div class="field">
                    <label>{% trans 'Select your subjects' %}</label>
                    {% bootstrap_field form.classroom show_label=False %}

                    {% comment %}
                        {% for lesson in lessons %}
                            <p>{{ lesson }}</p>
                            {% for value, classroom in form.classroom.field.choices %}
                                {% if lesson in classroom %}
                                    {{ classroom }}

                                    <input type="radio" value="{{ value }}" name="{{ lesson }}">
                                    <label for="{{ classroom.teacher }}">{{ classroom.teacher }}</label>
                                    <br>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endcomment %}
                </div>
            </div>
    
            <a href="{% url 'student_home' %}" type="type" class="btn">{% trans 'Cancel' %}</a>
            <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        </form>
    </div>

</section>
{% endblock content %}