{% extends "layout.html" %}
{% load bootstrap4 %}
{% load static i18n %}

{% block ptitle_post %} | {% trans 'Home' %}{% endblock ptitle_post %}

{% block content %}
<section class="page home_section">
    <div class="page_content">
        <div class="welcome">
            {% trans 'Welcome back ' %}{{ student }}
        </div>
    
        <div class="list_box">
            <div class="header">
                <span>{% trans 'Your subjects' %}</span>
                <a href="{% url 'student_classrooms' %}">
                    {% trans 'Edit' %}
                </a>
            </div>
            <div class="content">
                {% for lesson in student.classroom.all %}
                    <div class="item">
                        <a href="{% url 'teacher_lesson_detail' lesson.id %}">
                            {{ lesson }}
                        </a>
                    </div>
                    {% empty %}
                    <div class="empty">
                        {% trans 'You are not attending to any subject yet' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock content %}